__pycache__/
*.pyc
/.env
/others/
/data/
/app/rag_engine/faiss_index_openai/
/.idea
.DS_Store
app/rag_engine/data/AutoResQ_Incident_SOP.pdf
app/rag_engine/data/HIGH VOLUME or CPU USAGE SOP.txt
app/rag_engine/data/RCA.pdf
others/app.zip
app.zip
